<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Nothing better than a life with good TODO">
  <meta name="author" content="Christopher Pais">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/material.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/signin.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/list.css')}}">
  <title>BetterTodo</title>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">CJ's Todo</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!--
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<!-- Colored FAB button -->
<div class="container">
  <br>
  <span></span>
  <!-- FAB button with ripple -->
  <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="opener" href="#">
    <i class="material-icons">+</i>
  </a>

  <div id="newTodo">
    <form action="{{url_for('new')}}" method="post">
      <input type="text" name="header" class="form-control" placeholder="Header"></input>
      <textarea name="content" class="form-control" rows="6" placeholder="content"></textarea>
      <select name="column" class="form-control">
        <option value="1">Current</option>
        <option value="2">Week</option>
        <option value="3">Backlog</option>
      </select>
      <button type="submit" class="btn btn-success pull-right">Create</button>
    </form>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <h2 align="center">Current Tasks</h2>
      <ul id="current" class="connectedSortable list-group">
        {% for todo in todos %}
        {% if todo.column == 1 and todo.finished == False %}

        <div id="{{todo.id}}" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ todo.title }}</h3>
          </div>
          <div class="panel-body">{{todo.content.strip().rstrip()}}</div>
        </div>

        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-xs-6 col-sm-4">
      <h2 align="center">Week Tasks</h2>
      <ul id="week" class="connectedSortable">
        {% for todo in todos %}
        {% if todo.column == 2 and todo.finished == False %}

        <div id="{{todo.id}}" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ todo.title }}</h3>
          </div>
          <div class="panel-body">{{ todo.content }}</div>
        </div>

        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-xs-6 col-sm-4">
      <h2 align="center">Backlog</h2>
      <ul min-height="300px" id="backlog" class="connectedSortable">
        {% for todo in todos %}
        {% if todo.column == 3 and todo.finished == False %}

        <div id="{{todo.id}}" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ todo.title }}</h3>
          </div>
          <div class="panel-body">{{ todo.content }}</div>
        </div>

        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/material.min.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery-ui.js')}}"></script>
<script>
$( function() {
  $( "#current, #week, #backlog" ).sortable({
    connectWith: ".connectedSortable"
  }).disableSelection();
} );
</script>
<script>
$(document).ready(function () {
  $("#current, #week, #backlog").sortable({
    update: function(event, ui) {
      var data = new Array();
      data[0] = $(this).sortable("toArray");
      data[1] = $(this).attr("id");
      console.log(data)
      $.ajax({
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        type: 'POST',
        url: '{{url_for("index")}}'
      });
    }
  });
});
</script>
<script>
var opener = document.getElementById("opener");

opener.onclick = function(){

    var lightbox = document.getElementById("newTodo"),
        dimmer = document.createElement("div");

    dimmer.style.width =  window.innerWidth + 'px';
    dimmer.style.height = window.innerHeight + 'px';
    dimmer.className = 'dimmer';

    dimmer.onclick = function(){
        document.body.removeChild(this);
        lightbox.style.visibility = 'hidden';
    }

    document.body.appendChild(dimmer);

    lightbox.style.visibility = 'visible';
    lightbox.style.top = window.innerHeight/2 - 50 + 'px';
    lightbox.style.left = window.innerWidth/2 - 100 + 'px';
    return false;
}
</script>
</body>
</html>
