<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Nothing better than a life with good TODO">
  <meta name="author" content="Christopher Pais">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">


  <title>Login to BetterTodo</title>

</head>

<body>

  <div class="container">

      <form>
        <h2>Please sign in</h2>
        <div class="mdl-card mdl-shadow-2dp">
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" placeholder="Email address" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button type="submit">Sign in</button>
            </div>
      </form>

  </div>



</body>
</html>
